/.idea/dataSources
/.idea/workspace.xml
/.idea/libraries/Generated_files.xml
/config/*.json
/db/*
/dist
/logs/*
/npm-debug.log
/node_modules
/src/**/*.js
/src/**/*.js.map
/webpack/*.js
/webpack/*.js.map
/*.js
/*.js.map
!.gitkeep
