extends layout

block script

block content
  div
    .container
      .page-header
        h1 #[span.fa.fa-tasks] Evernote Tasklog
      .row
        .col-md-3.col-sm-6
          a.btn.btn-default.btn-lg.btn-block(href='/auth/login') #[span.fa.fa-4x.fa-sign-in] #[br] Basic Login
          p: .well Login to system using the Evernote server authentication.
        .col-md-3.col-sm-6
          a.btn.btn-default.btn-lg.btn-block(href='/auth/login?token=1') #[span.fa.fa-4x.fa-key] #[br] Token Login
          p: .well Login to system using the Evernote developer token. Get token from&nbsp;
            a(href='https://www.evernote.com/api/DeveloperToken.action') Evernote developer token API
            | &nbsp;and write token to config.json.
        .col-md-3.col-sm-6
          a.btn.btn-default.btn-lg.btn-block(href='/auth/login?sandbox=1') #[span.fa.fa-4x.fa-sign-in] #[br] Sandbox Login
          p: .well Login to sandbox system using the Evernote sandbox server authentication.
        .col-md-3.col-sm-6
          a.btn.btn-default.btn-lg.btn-block(href='/auth/login?sandbox=1&token=1') #[span.fa.fa-4x.fa-key] #[br] Sandbox Token Login
          p: .well Login to sandbox system using the Evernote sandbox developer token. Get token from&nbsp;
            a(href='https://sandbox.evernote.com/api/DeveloperToken.action') Evernote sandbox developer token API
            | &nbsp;and write token to config.json.
