extends layout

block script

block content
  div(ng-app='App', ng-controller='Controller', resize='resize')
    nav.navbar.navbar-inverse.navbar-fixed-bottom(ng-controller='NavigationController')
      .container-fluid
        .navbar-header
          button.navbar-toggle.collapsed(type='button', ng-click='navCollapse = !navCollapse')
            span.sr-only Toggle Navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='#/') Evernote Tasklog
        .collapse.navbar-collapse(collapse='navCollapse')
          ul.nav.navbar-nav
            li(ng-class='{active: $route.current.templateUrl == "timeline"}')
              a(href='#/timeline') Timeline
            li(ng-class='{active: $route.current.templateUrl == "settings"}')
              a(href='#/settings') Settings
          form.navbar-form.navbar-right
            button.btn.btn-primary(type='button', ng-click='reload()') Reload
    div(ng-view)
    include templates/timeline
    include templates/settings
    include templates/progress
