extends layout

block script

block content
  div(ng-app='App', ng-controller='Controller', resize='resize')
    .pull-right
      button.btn.btn-primary(ng-click='reload()') Reload
    tabset(justified=true)
      tab(heading='Timeline')
        #timeline(ng-controller='TimelineController')
      tab(heading='Commands')
        button Sync
    script(type='text/ng-template' id='progress.html')
      .modal-header Processing...
      .modal-body
        progressbar.progress-striped.active(animate=true, value=100)
