extends layout

block script

block content
  div(ng-app='App', ng-controller='Controller')
    .page-header
      h1= title
    .pull-right
      button.btn.btn-primary(ng-click='reload()') Reload
    tabset(justified=true)
      tab(heading='Timeline')
        #timeline(ng-controller='TimelineController')
      tab(heading='Commands')
        button Sync
