doctype html
html
  head
    title= title
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(href="/bower_components/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    link(href="/bower_components/font-awesome/css/font-awesome.min.css", rel="stylesheet")
    link(href="/bower_components/vis/dist/vis.min.css", rel="stylesheet")
    link(href='/stylesheets/style.css', rel='stylesheet')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/angularjs/angular.min.js')
    script(src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js")
    script(src="/bower_components/vis/dist/vis.min.js")
    script(src='/javascripts/script.js')
    script(type='text/javascript')
      block script
  body
    block content
