script(type='text/ng-template' id='menu')
  #settings(ng-controller='MenuController')
    a.btn.btn-default.btn-lg.btn-block(href='/#/timeline') Timeline
    a.btn.btn-default.btn-lg.btn-block(href='/#/notes') Notes
    a.btn.btn-default.btn-lg.btn-block(href='/#/settings') Settings
