script(type='text/ng-template' id='menu')
  #settings(ng-controller='MenuController')
    .page-header
      h1 #[span.fa.fa-tasks] Evernote Tasklog
    .row
      .col-md-4
        h2 #[span.fa.fa-th-large] Menu
        a.btn.btn-default.btn-lg.btn-block(href='/#/timeline') #[span.fa.fa-4x.fa-clock-o] #[br] Timeline
        a.btn.btn-default.btn-lg.btn-block(href='/#/notes') #[span.fa.fa-4x.fa-files-o] #[br] Notes
        a.btn.btn-default.btn-lg.btn-block(href='/#/settings') #[span.fa.fa-4x.fa-gear] #[br] Settings
      .col-md-4
        h2 #[span.fa.fa-search] Note Filter
        .well.h3
          p #[span.fa.fa-2x.fa-files-o] {{noteFilter.count}} notes.
        form.form-horizontal
          .form-group
            label.col-sm-3.control-label Updated
            .col-sm-9
              ui-select.form-control(ng-model='noteFilter.updated', theme='select2', search-enabled='false')
                ui-select-match(placeholder='Select update days.') Recent {{$select.selected}} day
                ui-select-choices(repeat='n in [undefined, 1, 2, 3, 5, 7, 10, 15, 20, 30]')
                  div(ng-bind-html="n ? 'Recent ' + n + ' day' : '-- None --'")
          .form-group
            label.col-sm-3.control-label Notebook
            .col-sm-9
              ui-select.form-control(multiple, ng-model='noteFilter.notebooks', theme='select2')
                ui-select-match(placeholder='Select notebooks...') {{$item.name}}
                ui-select-choices(group-by='"stack"', repeat='notebook.guid as notebook in notebooks | filterByProperty: {name: $select.search}')
                  div(ng-bind-html='notebook.name | highlight: $select.search')
                  small stack: {{notebook.stack ? notebook.stack : 'None'}}
          .form-group
            label.col-sm-3.control-label Stack
            .col-sm-9
              ui-select.form-control(multiple, ng-model='noteFilter.stacks', theme='select2')
                ui-select-match(placeholder='Select stacks...') {{$item}}
                ui-select-choices(repeat='stack in stacks | filter: $select.search')
                  div(ng-bind-html='stack | highlight: $select.search')
        button.btn.btn-primary.btn-block(type='button', ng-click='reload()') #[span.fa.fa-refresh] Reload
      .col-md-4
        h2 #[span.fa.fa-user] User Info
        dl.dl-horizontal
          dt Id
          dd {{user.id}}
          dt Username
          dd {{user.username}}
          dt Email
          dd {{user.email}}
          dt Name
          dd {{user.name}}
      .col-md-4
        h2 #[span.fa.fa-database] Data Info
        dl.dl-horizontal
          dt Notes
          dd {{notes | objectLength }}
          dt Time Logs
          dd {{timeLogs | objectLength : 1}}
          dt Profit Logs
          dd {{profitLogs | objectLength: 1}}
