mixin single-input(key)
  form.form-horizontal
    .form-group
      label.col-sm-2.control-label {{fields.#{key}.heading}}
      .col-sm-10
        input.form-control(type="{{fields.#{key}.type}}", ng-model="dataStore.settings.#{key}")

script(type='text/ng-template' id='settings')
  #settings(ng-controller='SettingsController')
    .container
      tabset
        tab(heading='Persons')
          h2 Person Settings
          form.form-horizontal
            .form-group(ng-repeat='person in editPersons')
              label.col-sm-2.control-label person-{{$index + 1}}
              .col-sm-6
                input.form-control(type='text', ng-model='person.name')
              .col-sm-4
                button.btn.btn-warning(type='button', ng-click='up($index)') Up
                button.btn.btn-warning(ng-click='down($index)') Down
                button.btn.btn-danger(ng-click='remove($index)') Remove
            button.btn.btn-success.btn-block(ng-click='add()') Add
            button.btn.btn-primary.btn-block(ng-click='submit()') Submit
        tab(heading='Timeline')
          h2 Timeline Settings
          +single-input('startWorkingTime')
          +single-input('endWorkingTime')
      button.btn.btn-primary.btn-block(ng-click='submit2()') Submit
