html {
  height: 100%;
}

body {
  min-height: 100vh;
}

.vis-item .vis-item-overflow {
  overflow: visible;
}



// monky patches
.navbar-fixed-bottom {
  @extend .fixed-bottom;
}

.modal.show {
  display: block;
}
