section.activity-mode {

  h1 {
    margin: 0;
    font-size: 150%;
    text-align: center;
  }

  section.activity-mode-item {
    margin: 10px 0px;
    border: $mono-light solid 1px;
    @include border-top-radius(5px);
    @include border-bottom-radius(5px);

    h1 {
      font-size: 100%;
      text-align: left;
    }
  }
}
