section.activity
  .row
    .col-md-3
      button.btn.btn-default.btn-block(@click="changeDate(false)") Prev Date
    .col-md-6
      .text-center {{moment(date).format('YYYY/MM/DD')}}
    .col-md-3
      button.btn.btn-default.btn-block(@click="changeDate(true)") Next Date
  div(v-for="note in datastoreService.noteArchives")
    h1: a(href="evernote:///view/{{datastoreService.user.id}}/{{datastoreService.user.shardId}}/{{note.guid}}/{{note.guid}}/") {{note.title}}
    pre {{moment(note.updated).format('HH:mm:ss')}} {{note.updateSequenceNum}}
    div
      div(v-if="modifies[note._id]")
        div(v-html="modifies[note._id].diffHtml")
        //pre {{modifies[note._id].diffPatch}}
      div(v-else)
        i.fa.fa-spinner.fa-pulse
        | &nbsp;Loading...
