section.activity-mode
  .header
    .row
      .col-md-3
        button.btn.btn-default.btn-block(@click="changeDate(false)") Prev Date
      .col-md-6
        h1 {{moment(date).format('YYYY/MM/DD')}}
      .col-md-3
        button.btn.btn-default.btn-block(@click="changeDate(true)") Next Date
  .body
    section.activity-mode-item(v-for="note in datastoreService.noteArchives")
      .header
        popover(trigger="hover", placement="bottom", title="Info", :content="detail(note)")
          h1
            a(href="evernote:///view/{{datastoreService.user.id}}/{{datastoreService.user.shardId}}/{{note.guid}}/{{note.guid}}/")
              | {{moment(note.updated).format('HH:mm')}} {{note.title}}
            span.label.label-danger(v-if="modifies[note._id] && !modifies[note._id].prevNote") #[i.fa.fa-plus] New
            span.label.label-primary #[i.fa.fa-book] {{notebookName(note)}}
            span.label.label-default(v-for="tagName in tagNames(note)") #[i.fa.fa-tag] {{tagName}}
      .body
        div(v-if="modifies[note._id]")
          div(v-html="modifies[note._id].diffHtml")
          //pre {{modifies[note._id].diffPatch}}
        div(v-else)
          i.fa.fa-spinner.fa-pulse
          | &nbsp;Loading...
