section.menu-mode
  .container
    h1.my-3 #[span.fa.fa-tasks] Evernote Tasklog
    .row
      .col-md-4
        user-menu-component
      .col-md-4(v-if="datastoreService.globalUser")
        note-filter-menu-component
      .col-md-4(v-if="datastoreService.globalUser")
        data-info-menu-component
