mixin single-input(key)
  form.form-horizontal
    .form-group
      label.col-sm-2.control-label {{fields.#{key}.heading}}
      .col-sm-10
        input.form-control(v-if="fields.#{key}.type == 'number'", type="number", v-model="editStore.#{key}")

section.settings-mode(v-if="editStore")
  .container
    h1.my-3 #[i.fa.fa-gear] Settings
    h2.my-3 #[i.fa.fa-users] Persons Settings
    form
      .form-group.row(v-for="(person, index) in editStore.persons")
        label.col-sm-2.control-label person-{{index + 1}}
        .col-sm-6
          input.form-control(type="text", v-model="person.name")
        .col-sm-4
          button.btn.btn-warning(type="button", @click="up(index)") Up
          button.btn.btn-warning(type="button", @click="down(index)") Down
          button.btn.btn-danger(type="button", @click="remove(index)") Remove
      .form-group.row
        button.col-sm-6.offset-sm-2.btn.btn-success(type="button", @click="add()") Add
    h2.my-3 #[i.fa.fa-history] Timeline Settings
    +single-input("startWorkingTime")
    +single-input("endWorkingTime")
    button.btn.btn-primary.btn-lg.btn-block(type="button", @click="submit()") Submit
