doctype html
html
  head
    base(href="/")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="dist/css/style.css")
    title evernote-tasklog
  body
    div#app
      div(style="text-align:center; margin:25%; font-size:300%; color:#666666;") Loading...
  script(src="/dist/js-vendor/app-vendor.bundle.js", type="text/javascript")
  script(src="/dist/js/app.bundle.js", type="text/javascript")
