doctype html
html
  head
    base(href="/")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title blynk-bridge-watcher
  body
    div#app
      div(style="text-align:center; margin:25%; font-size:300%; color:#666666;") Loading...
    script(src="/dist/app.bundle.js", type="text/javascript")
