script(type='text/ng-template' id='notes')
  #settings(ng-controller='NotesController')
    table.table.table-bordered.table-striped.table-hover.table-condensed
      tr
        th Title
        th(ng-repeat='person in existPersons') {{person}}
        th Total
      tr(ng-repeat="note in dataStore.notes")
        td: a(href='evernote:///view/{{dataStore.user.id}}/{{dataStore.user.shardId}}/{{note.guid}}/{{note.guid}}/') {{note.title}}
        td.text-right(ng-repeat="person in existPersons.concat(['$total'])")
          small(ng-if='notesSpentTimes[note.guid][person]') ({{notesSpentTimes[note.guid][person] / notesSpentTimes[note.guid]['$total'] * 100 | number: 0}}%)&nbsp;
          | {{notesSpentTimes[note.guid][person] | spentTime}}
          br
          | {{notesProfits[note.guid][person] | number: 0}}
      tr
        th Total
        td.text-right(ng-repeat="person in existPersons.concat('$total')")
          small(ng-if="notesSpentTimes['$total'][person]") ({{notesSpentTimes['$total'][person] / notesSpentTimes['$total']['$total'] * 100 | number: 0}}%)&nbsp;
          | {{notesSpentTimes['$total'][person] | spentTime}}
          br
          | {{notesProfits['$total'][person] | number: 0}}
