script(type='text/ng-template' id='progress-modal')
  .modal-header Progress
  .modal-body
    progressbar.progress-striped.active(animate=true, value='progress.value')
  .modal-footer
    .text-left {{progress.message}}
