.container
  .page-header
    h1 #[span.fa.fa-tasks] Evernote Tasklog
  .row
    .col-md-4
      user-menu-component
    .col-md-4(v-if="dataStoreService.user")
      h2 #[span.fa.fa-search] Note Filter
      .well.h3
        p #[span.fa.fa-2x.fa-files-o] {{noteCount}} notes.
      form.form-horizontal
        .form-group
          label.col-sm-3.control-label Notebook
          .col-sm-9
            v-select(:options="getNotebookOptions(dataStoreService.notebooks)", multiple,
            :value.sync="dataTranscieverService.filterParams.notebookGuids", search, clear-button)
        .form-group
          label.col-sm-3.control-label Stack
          .col-sm-9
            v-select(:options="getStackOptions(dataStoreService.stacks)", multiple,
            :value.sync="dataTranscieverService.filterParams.stacks", search, clear-button)
      button.btn.btn-primary.btn-lg.btn-block(type="button", @click="reload()") #[span.fa.fa-refresh] Reload
    .col-md-4(v-if="dataStoreService.user")
      h2 #[span.fa.fa-database] Data Info
      table.table.table-bordered.table-condensed.table-striped
        tr
          th
          th Target
          th All
        tr
          th Notes
          td.text-right {{noteCount}}
          td.text-right {{allNoteCount}}
        tr
          th Loaded Notes
          td.text-right {{loadedNoteCount}}
          td.text-right {{allLoadedNoteCount}}
        //tr
          th Time Logs
          td.text-right {{timeLogCount}}
          td.text-right {{allTimeLogCount}}
        //tr
          th Profit Logs
          td.text-right {{profitLogCount}}
          td.text-right {{allProfitLogCount}}
      button.btn.btn-primary.btn-block(type="button", @click="reParse()") #[span.fa.fa-industry] Re Parse Notes
