modal(title="Progress", :show.sync="show", small, :backdrop="false")
  .modal-body(slot="modal-body")
    .progress
      progressbar(:now="value", type="primary", striped)
  .modal-footer(slot="modal-footer")
    .text-left {{message}}
