modal(title="Progress", :show.sync="show", small, :backdrop="false")
  .modal-body(slot="modal-body")
    progressbar(:now="progressService.value", type="primary", label, striped, animated)
  .modal-footer(slot="modal-footer")
    .text-left {{progressService.message}}
