h2 #[span.fa.fa-search] Note Filter
form.form-horizontal
  .form-group
    label.col-sm-3.control-label Notebook
    .col-sm-9
      v-select(:options="getNotebookOptions(dataStoreService.notebooks)", multiple,
      :value.sync="dataTranscieverService.filterParams.notebookGuids", search, clear-button)
  .form-group
    label.col-sm-3.control-label Stack
    .col-sm-9
      v-select(:options="getStackOptions(dataStoreService.stacks)", multiple,
      :value.sync="dataTranscieverService.filterParams.stacks", search, clear-button)
button.btn.btn-primary.btn-lg.btn-block(type="button", @click="$parent.reload()") #[span.fa.fa-refresh] Reload
